@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

@media screen and (max-width: 456px) {
    .container {

        &.login {
            @include padding-page-content
        };
    
        .row {
    
            &.login {
                justify-content: center;
                text-align: center;
            }
        }
    
        .top-content {
            height: 30%;
    
            .header-text {
                font-size: 36px;
            }
    
            .image-section {
                display: flex;
                justify-content: center;
                width: 100%;
    
                .winebottle {
                    width: 7vw;
                    height: 16vh;
                }
            }
        }
    
        .bottom-content {
            height: 70%;
            padding-top: 10%;

            h3 {
                margin: 0%;
                margin-top: 10%;
            }
    
            ::placeholder {
                color: black;
                @include font-size-login-section
            }
    
            input {
                @include login-fields-config;
                background-color: $light-wine-red;
                text-align: center;
                color: black;
            }
    
            .login-button {
                @include login-fields-config;
                background-color: black;
                color: white;
            }
        }
    
    }
    
}