@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.container {

     &.mypage {
        @include padding-page-content
     }

     .row {
        
        &.mypage, .bottle-icon, .book-icon, .gear-icon {
            justify-content: center;
            align-content: center;
            text-align: center;
            padding-bottom: 10%;
            animation: fadein 0.8s;
        }
    
        .greeting {
            font-size: 20px;
            text-align: center;
            margin: 0;
            padding-bottom: 20%;
            animation: fadein 2s; 
        }

        .winebottle {
            width: 12vw;
            height: 13vh;
        }

        .book {
            width: 15vh;
            height: 9vh;
        }

        
        .gear {
            width: 21vw;
            height: 8vh;
        }
        

        .icon-text {
            padding-top: 2%;
            justify-content: center;

            .text-frame {
                background-color: black;
                border-radius: 2px;
                color: white;
                width: $frame-width;
                height: $frame-height;

                p {
                    font-size: $frame-font-size;
                }

                &.bottle {
                    transform: rotate(2.3deg);

                    p {
                        transform: rotate(1deg);
                    }
                }

                &.book {
                    transform: rotate(-1.68deg);

                    p {
                        transform: rotate(1deg);
                    }
                }

                &.settings {
                    transform: rotate(2deg);

                    p {
                        transform: rotate(1.5deg);
                    }
                }
            }
        }
     }
}