@mixin flex-wh-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-width-center {
    display: flex;
    justify-content: center;
}

@mixin content-text-center {
    justify-content: center;
    text-align: center;
}

@mixin padding-page-content {
    padding: 10%;
    padding-top: 20%;
}

@mixin padding-page-diary {
    padding: 10%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@mixin font-size-login-section {
    font-size: 18px;
}

@mixin login-fields-config {
    @include font-size-login-section;
    width: 100%;
    height: 6vh;
    margin-top: 3%;
    border: 0;
    border-radius: 2px;
}