@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
//@import './sliders.scss';

.container {

    &.diary-default {
        padding: 6% 6% 0 6%;

    }

    &.diary-image-notes {
        padding: 0%;
        height: 50%;
    }

    .row {
        padding: 0 5% 0 5%;
        justify-content: center;

        &.image-notes {
            justify-content: center;
        }
    }

    input {
        border: 0;
        border-radius: 2px;
        background-color: #F9EEE1;
        height: 4vh;
        text-align: center;
        font-size: 20px;
        margin-bottom: 1%;
    }

    label {
        display: flex;
        padding: 0;
        font-size: 20px;

        &.vintage-label, &.percentage-label {
            font-size: 18px;
            justify-content: end;
            padding-right: 1%;
        }

        &.file-upload {
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &.notes-label {
            font-size: 16px;
            height: 6%;
        }
    }
    
    .note-section {
        margin-top: 8%;
        padding-right: 0;
        p {
            font-size: 14px;
            margin: 0%;
        }
    }
}