input[type=range] {

    &.slider {
        accent-color: rgb(55, 0, 12);

        //-webkit-appearance:media-sliderthumb;  /* Override default CSS styles */
        //appearance: none;
        //-webkit-appearance: none;
        background-color: rgba($color: #E8D0D0, $alpha: 1.0);
        width: 100%;
        //outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;

        &::-webkit-slider-thumb {
            z-index: -1;
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 1rem; /* Set a specific slider handle width */
            height: 1rem; /* Slider handle height */
            background: #000000; /* Green background */
        }
        }
  }